/** 常用色值 **/
@colorA: #f9c700;
@colorB: #ff5400;
@colorC: #333;
@colorD: #6699cc;
@colorE: #e0e6ec;
@colorF: #f1f3f5;
@colorG: #fff;
@colorH: #e5e5e5;
@colorI: #ff8605;
@colorJ: #f9fbfc;

/** 常用字体大小 **/
@fontA: 34px;
@fontB: 22px;
@fontC: 18px;
@fontD: 16px;
@fontE: 14px;
@fontF: 12px;
@fontG: 20px;
