@import "~antd/dist/antd.css";

body {
	background: #fff;
    height: 100%;
}

#root {
	height: 100%;
}

/* 设置容器的背景颜色 */
.custom-layout .site-layout-background {
    background: #fff;
}

.custom-layout {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin-left: 12.5rem;
}
